# Comments & Basic Data Types

In [1]:
# this is a comment

In [2]:
"""This is a 
multi-line comment"""

print('Hello') #This is also a comment

Hello

In [3]:
#the following are all integers
print(2)
print(10)

2
10

In [4]:
# the following are all floats
print(10.953)
print(8.0)

10.953
8.0

In [5]:
# the following are booleans
print(True)
print(False)

True
False

In [6]:
# the following are strings
print("")
print("There's a snake in my boot.")
print("true")

There's a snake in my boot.
true

In [7]:
print(type(int))

<class 'type'>

# Monday Exercises

In [8]:
print("Nishchay Joshi")

Nishchay Joshi

In [9]:
type(5)

int

# Variables

In [10]:
num1 = 5
num2 = 8.4
print(num1, num2)

5 8.4

In [11]:
switch = True
print(switch)

True

In [12]:
# storing strings into a variable
name = "john smith"
fav_number = "9"
print(name, fav_number)

john smith 9

In [13]:
# using two variables to create another variable
result = num1 + num2
print(result)

13.4

In [14]:
# adding, deleting, multiplying, dividing from a variable
result += 1
result *= num1
print(result)

72.0

In [15]:
# defining a variable and overwriting it's value
name = "john"
print(name)
name = "sam"
print(name)

john
sam

# Tuesday Exercises

In [16]:
# Tuesday Exercise
x = 3
y = 10
result = x * y
print(x, "+", y, "=", 13)

3 + 10 = 13

In [17]:
width = 245.54
height = 13.66
area = width * height
print(area)

3354.0764

# Working with strings

In [18]:
# using the addition operator without variables
name = "john" + " " + "smith"
print(name)

john smith

In [19]:
# using the addition operator with variables
first_name = "john"
last_name = "smith"
full_name = first_name + " " + last_name
print(full_name)

john smith

In [20]:
# injecting variables using the format method
name = "john"
print("Hello {}".format(name))
print("Hello {}, you are {} years old.".format(name, 28))

Hello john
Hello john, you are 28 years old.

In [21]:
# injecting variables using the format method
name = "Nishchay"
print( f"Hello {name}")

Hello Nishchay

In [22]:
# one major difference between versions 2 & 3
name = "Nishchay"
print("Hello %s" %name)

Hello Nishchay

In [23]:
first_name = "Nishchay"
last_name = "Joshi"
print("Hello %s %s" %(first_name, last_name))

Hello Nishchay Joshi

In [24]:
# using indexes to print each element
word = "Hello"
print(word[0])
print(word[1])
print(word[-1])
print(word[0:5])
print(word[0:5:2])

H
e
o
Hello
Hlo

# Wednesday Exercises

In [25]:
print(23 , 4.5, False, "John")

23 4.5 False John

In [26]:
name = "Nishchay"
sport = "Cricket"
program = "python"
print(f"{name}'s favourite sports is {sport}.")
print(f"{name} is working on {program} programming.")

Nishchay's favourite sports is Cricket.
Nishchay is working on python programming.

# Manipulating Strings

In [27]:
# using the title method to capitalize a string
name = "nishchay joshi"
print(name.title())
print(name.lower())
print(name.upper())

Nishchay Joshi
nishchay joshi
NISHCHAY JOSHI

In [28]:
words = "Hello There!"
print(words.replace("!","."))

Hello There.

In [29]:
words = words.replace("!",".")
print(words)

Hello There.

In [30]:
# finding the starting index of our searched term
s = "Look over that way"
print(s.find("over"))

5

In [31]:
# removing white space with strip
name = " john "
print(name.strip())
print(name)
print(name.lstrip())
print(name.rstrip())

john
 john
john
 john

In [32]:
# converting a string into a list of words
s = "These words are separated by spaces"
print(s.split())

['These', 'words', 'are', 'separated', 'by', 'spaces']

# Thursday Exercises

In [33]:
x = "uppercase"
print(x.upper())

UPPERCASE

In [34]:
x = "$$John Smith"
print(x.strip("$"))

John Smith

# Friday Project: Printing Receipts

In [35]:
p1_name, p1_price = "Book" , 49.90
p2_name, p2_price = "Computer" , 99.90
p3_name, p3_price =  "Monitor" , 100.0

In [36]:
company_name = "coding temple"
company_address = "franklin street"
company_city = "Boston, MA"

In [37]:
message = "Thanks for shopping"

In [38]:
print("*" * 50)
print("*\t\t{}\t\t\t *".format(company_name.title()) )
print(f"*\t\t{company_address.title()}\t\t\t *")
print(f"*\t\t{company_city}\t\t\t *")
print("*"+ "=" * 48 + "*")
print("*\tProduct Nmae\tProduct Price\t\t *")
print(f"*\t{p1_name}\t\t{p1_price}\t\t\t *")
print(f"*\t{p2_name}\t{p2_price}\t\t\t *")
print(f"*\t{p3_name}\t\t{p3_price}\t\t\t *")
print("*"+ "=" * 48 + "*")
print("*\t\t\tTotal\t\t\t *")
print(f"*\t\t\t{p1_price+p2_price+p3_price}\t\t\t *")
print("*"+ "=" * 48 + "*")
print(f"*\t\t\t\t\t\t *\n*\t\t{message}\t\t *\n*\t\t\t\t\t\t *")
print("*" * 50)

**************************************************
*		Coding Temple			 *
*		Franklin Street			 *
*		Boston, MA			 *
*================================================*
*	Product Nmae	Product Price		 *
*	Book		49.9			 *
*	Computer	99.9			 *
*	Monitor		100.0			 *
*================================================*
*			Total			 *
*			249.8			 *
*================================================*
*						 *
*		Thanks for shopping		 *
*						 *
**************************************************

# End of Week Exercise

In [39]:
x = "HELLO"

In [40]:
print(x[::-1])

OLLEH